<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @correspondence_type.name %>
</p>


<%= link_to 'Edit', edit_correspondence_type_path(@correspondence_type) %> |
<%= link_to 'Back', correspondence_types_path %>
